/* Box Model Hack */
* {
    box-sizing: border-box;
}   

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
    font-family: 'Assistant', sans-serif;
}


/******************************************
/* LAYOUT
/*******************************************/
#content {
    display: flex;
    flex-direction: row;
}


header {
    background-color: rgba(0,0,0, 0.8);
    width: 10rem;
    display: flex;
    flex-direction: column;
    align-content: center;
    float: left;
    position: fixed;
    margin-left: 1rem;
    margin-top: 3rem;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}


@media screen and (max-width: 799px){
    .main {
        max-width: 100vw;
        min-height: 100vh;
    } 
    
    header {
        margin: 0;
        width: 7rem;
    }
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

/* ============== Headers =============== */
nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}
    
nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}


.link-item {
    margin-top:0.5rem;
    margin-bottom: 0.5rem;
    text-decoration: none;
    color: rgb(150,150,150);
    width: 100%;

}

.pageLink {
    font-weight: 200;
    color: rgb(255,255,255);
    letter-spacing: .1rem;
    text-decoration: none;
}

.pageLink:hover {
    font-weight: 700;
    font-style: italic;
    /* text-shadow: rgb(255,255,255) 2px 2px 2px; */
}

@media screen and (max-width: 799px){
    nav{padding-left: 1rem;}

    nav ul {padding: 0;}

    .logo {align-self: center;}

    .pageLink {margin: 0; padding: 0; width: 90%;}
}

/* ============== Content =============== */

#self {
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
}

#my-name {
    font-size: 5rem;
}

p {
    font-size: 1.3rem;
    letter-spacing: 0.1rem; 
    font-style: italic;
}

a {
    text-decoration: none;
}

.slide {
    width: 90%;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px; 
    padding-bottom: 2rem;
}

.slide-title {
    letter-spacing: 0.2rem;
    font-weight: 400;
    font-style: italic;
    font-size: 3rem;
    margin: 1rem;
    text-shadow: 2px 2px 2px;
}

.slide-black {
    background:rgba(0,0,0);
    color: rgb(255,255,255);
}

.text-description {
    width:80%;
    text-align: center;
}

#sm-links {
    display: flex;
    flex-direction: row;
    column-gap: 1.5rem;
    align-items: center;
}

.smLogo {
    max-height: 2rem;
    max-width: 2rem;
}
/* ============== Gallery =============== */

.card-gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 1.5rem;
    width: 90%;
}

.sample-card {
    border: 1px solid rgb(150,150,150);
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgb(150,150,150);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 19rem;
    height: 25rem;
    margin: 2rem;
}

.sample-card:hover {
    box-shadow: 0px 0px 10px 10px rgb(150,150,150);
    transform:  scale(1.1);
}

.card-visual {
    flex-grow: 2;
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom:  1px solid rgb(150,150,150);    
}

.card-title {
    font-style: italic;
    letter-spacing: 0.2rem;
    text-align: center;
    padding: 0rem;
    margin-top: 1rem;
    font-weight: 700;
    text-shadow: 1px 1px 1px;
}

.card-description {
    color: rgb(150,150,150);
    letter-spacing: 0.1rem;
    text-align: center;
    font-size: 1rem;
    height: 5rem;
    padding: 0.4rem;
    overflow: scroll;
}

#sm-links-decals {
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
}

@media screen and (max-width: 799px){
  .card-gallery, .slide {width: 100%} 
  .card-description {
    overflow: scroll;
  }  
  
  .slide, .slide-black {
    padding: 1rem;
  }

  .card-gallery {
    justify-content: center;
    flex-direction: column;
    row-gap: 3.5rem;
  }

  .sample-card {
    min-height: 80%;
    width: 60%;
  }

  .card-visual {
    height: 50%;
  }

  #sm-links {
    display: flex;
    flex-direction: column;
    justify-items: center;
  }

  #sm-links-decals {
    margin-top: 1.5rem; 
    column-gap: 2rem;
}
}

.skill-grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 3rem;

}

.skill-logo {
    height: 6rem;
    width: 6rem;   
}

.skill-logo:hover {
    transform: scale(1.1);
}

@media screen and (max-width: 799px){
    .skill-grid {
        gap: 2rem;
    }

    .skill-logo {
        height: 4rem;
        width: 4rem;
    }
}